html,body {
  height: 100%;
  color: white;
}

.product-listed, .product-detail {
    background-color: #c77b16;
    color: white;
}

.product-listed:hover {
    text-decoration: none !important;
    color: white !important;
}

.product-listed img {
    height: 200px;
    width: 150px;
}

.product-detail img {
    height: 250px;
    width: 188px;
}
.product-listed .card-text, .product-detail .card-text {
    font-size: 1.2rem;
}

.product-listed .score, .product-detail .score {
    font-size: 2rem;
    color: white;
    width: 4.7rem;
}

.alert {
    font-size: 0.7rem;
    padding: 9px;
}

.alert button {
    padding: 3px !important;
    font-size: 1rem;
}

.comment {
    background-color: #343a401f;
    font-size: 1rem;
}

.comment p {
    margin: 0;
}

.comment-header {
    font-size: 0.9rem;
    color: #ffffffc2;
}

.comment strong {
    font-size: 1.2rem;
}

.genre:hover {
    cursor: pointer;
}

.queryTitle {
    font-size: 1rem;
}

.rating-input {
    font-size: 1.3rem;
    float: right;
}

#feedback {
    height: 1.7rem;
    display: none;
    overflow: hidden;
}

#direction {
    cursor: pointer;
}

.card-video {
    width: 20rem;
}
