/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 1, 2021, 9:18:37 AM
    Author     : agustin
*/

html,body {
  height: 100%;
  color: white;
}

.product-listed {
    background-color: #c77b16;
}

.product-listed img {
    height: 200px;
    width: 150px;
}

.product-listed .card-text {
    font-size: 1.2rem;
}

.product-listed .score {
    font-size: 2rem;
    color: white;
}

.alert {
    font-size: 0.7rem;
    padding: 9px;
}

.alert button {
    padding: 3px !important;
    font-size: 1rem;
}
